.dth-change-password-btn {
  display: flex;
  justify-content: center;
}

.dth-change-password-btn > button {
  min-width: 190px;
}

.changepass-err-message {
  margin-bottom: 11px;
  margin-left: 1px;
  margin-top: -5px;

  text-align: left;

  font-size: 12px;
  color: red;
}

.dth-change-password-btn-disable > button {
  pointer-events: none;
  background-color: rgb(201, 199, 199);
}
