/*______________________________________ HEADER__________________________________ */
.ass1-logo {
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  line-height: 25px !important;
}

header .ass1-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}

header + main {
  margin-top: 70px;
}

.scroll-down .ass1-header {
  transform: translateY(-100%);
}

.scroll-down .dth-footer {
  transform: translateY(100%);
}

.scroll-up .ass1-header,
.scroll-up .dth-footer {
  transform: translateY(0%);
}

/* LOGIN - REGISTER FORM */
.ass1-login {
  margin: 20px auto 20px;
}

.ass1-login__content {
  padding: 0px;
  box-shadow: none;
}

.ass1-login__form {
  margin-top: 20px;
}

button:focus {
  outline: none;
}

.ass1-btn {
  cursor: pointer;
}

.btn-header {
  margin-right: 10px;
}

.dth-register-btn {
  margin-top: 20px;
}
.btn-login-register {
  min-width: 90px;
  font-weight: 300;
  font-size: 18px;
  color: #007bff !important;
  cursor: pointer;
  transition: all 0s ease-in-out;
}
.btn-login-register:hover {
  color: #063b74 !important;
}

.warning-text {
  text-align: left;
  font-size: 13px;
  background: none !important;
  color: red;
  margin-bottom: 0px;
}

/* Notification */
.dth-background-notification {
  background-color: black;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  min-width: 400px;
}

.ant-notification {
  z-index: 999999000 !important;
}

.ant-notification-notice-message {
  color: #fff;
  font-weight: 500;
  padding-top: 2px;
}

.ant-notification-close-x {
  color: white;
}

.dth-text-danger {
  margin-bottom: 0 !important;
  text-align: left !important;
  background: none !important;
  font-size: 13px !important;
}

/* Password display */
.form-control-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.dth-fa-password {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;

  color: rgb(153, 145, 145);
  cursor: pointer;
}
.dth-fa-password:hover {
  color: black;
}
/* password display end */

.form-checkbox {
  border: none;
  position: relative;
  cursor: pointer;
}

.form-checkbox input,
.form-checkbox label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-checkbox input {
  padding: 20px;
  left: 0;
  margin-right: 20px;
}

.form-checkbox label {
  left: 20px;
}

.ass1-login__form form > input,
.ass1-login__form form > *:not(div),
.ass1-login__form form .ass1-input-copy {
  margin-bottom: 20px;
}

.ass1-header__search form {
  position: relative;
}
.ass1-header__search .icon-Search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  margin-top: auto;
}

.col-lg-4 .ass1-section__content {
  word-wrap: break-word;
}

.ass1-content-head__t {
  text-align: center;
}

.col-lg-4 .center {
  text-align: center;
}

.homepage-aside-login {
  text-align: center;
}

/* Masonry css - GridLayout */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px;  */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 15px;
}

/* .ass1-comments {
  padding-bottom: 20px;
} */
/* ________________________________________________________ POSt CONTEND  */
.ass1-section .ass1-section__head {
  padding-bottom: 15px !important;
}
.ass1-section .ass1-section__content {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.col-lg-4 .ass1-section .ass1-section__content {
  padding-bottom: 30px !important;
}

.ass1-section .ass1-section__content .ass1-section__image {
  margin-top: 15px;
}

.ass1-section .ass1-section__footer {
  padding-top: 8px;
  padding-bottom: 12px;
}

.ass1-section__name {
  display: flex;
  min-width: 350px;
}
.loading-user-page {
  width: 36%;
  margin-top: 2px;
}

/* ---------------------------COMMENT_SECTION----------------------- */
.ass1-comments {
  margin-bottom: 15px;
}

.ass1-comments__section {
  display: flex;
  /* align-items: center; */
  margin-top: 20px;

  padding: 5px 10px;
  border-radius: 7px;
  background: #eef3f6;
}

.ass1-comments__avatar {
  margin-top: 4px;
}

.ass1-comments__passed {
  margin-left: 10px;
}

.ass1-section__footer {
  padding-bottom: 20px;
}

.ass1-comments__head {
  padding-bottom: 0px;
}

.ass1-comments__content {
  position: relative;
}

.dth-comment-reply {
  position: absolute;
  top: 2px;
  right: 1px;
  cursor: pointer;
}

.dth-comment-reply:hover {
  color: #007bff !important;
}

.dth-comment-form-reply {
  margin-left: 50px;
}

.ass1-comments__content p {
  margin-top: 0px;
}

.comment-login {
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment-footer-space {
  padding-bottom: 10px;
}

.dotLoading-cmt {
  position: relative;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dotLoading-cmt .dotLoading-svg {
  position: absolute;
  overflow: hidden;
}

.dth-modal-body .dotLoading-cmt {
  margin-top: 20px;
}

/*  Comment form:  */
.ass1-add-comment {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 10px 15px 10px;
}

.ass1-add-comment > form {
  position: relative;
  display: flex;
}

.ass1-add-comment > form > img {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;

  border: 1px solid gainsboro;
  border-radius: 50%;
}

.ass1-add-comment > form textarea {
  padding-left: 40px;
  line-height: 1.3;
}

.ass1-add-comment__content {
  margin-top: 15px;
}

.warning-text-none {
  display: none;
}

.color-red {
  color: red !important;
  display: inline-block;
}

.color-green {
  color: rgb(39, 173, 39) !important;
}

.dth-btn-comment {
  color: #fff !important;
  border: 1px solid #3482e2;
  padding: 3px 10px;
  border-radius: 4px;
  background: #3482e2;
}

.dth-btn-comment:hover {
  background: transparent;
  color: #3482e2 !important;
}

.dth-btn-comment-none {
  display: none;
}

.ass1-add-comment__btn-save {
  pointer-events: none;
}

.dth-btn-comment-disable {
  pointer-events: none;
  background-color: rgb(190, 188, 188);
  border-color: rgb(190, 188, 188);
}
/* --------------SEARCH-PAGE--------------- */
.search-page .ass1-section__list {
  margin-top: 0px;
}

.search-page .count-posts {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 1000;
}

/* ----------------------USER PAGE----------------------- */

.head-user-for-author {
  position: relative;
}

.ass1-avatar {
  overflow: hidden;
}
.ass1-avatar img {
  height: 100%;
  width: unset;
}

.ass1-head-user {
  border: none;
}

.ass1-head-user__info-head {
  margin-bottom: 5px;
  display: block;
}
.ass1-head-user__name {
  font-weight: 900;
}

.dth-gender-icon {
  padding-left: 10px;
  font-size: 25px;
  vertical-align: super;
  transform: rotate(32deg);
}
.dth-gender-icon.fa-venus {
  color: #ef0cea;
}
.fas.dth-gender-icon.fa-mars {
  color: blue;
  transform: rotate(0deg);
}

.ass1-section__head-user-setting {
  position: absolute;
  top: 0;
  right: -14px;

  padding: 4px 12px;
  border-radius: 50%;

  color: #858687;
  font-weight: 200;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ass1-section__head-user-setting:hover {
  color: #080808;
  transform: scale(1.5);
  background-color: rgb(155, 146, 146);
}

.ass1-head-user__desc {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ass1-head-user__info-statistic {
  margin-bottom: 5px;
}

.ass1-head-user__info-statistic .ass1-btn-icon {
  margin-left: -15px;
}

.ass1-head-user__btn-follow-wrapper {
  display: flex;
}

.ass1-head-user__btn-follow {
  border-radius: 7px;
  padding: 0px 10px;
}

/* -------------LOADING-------------- */
.dotLoading-cmt-large {
  width: 100%;
}
.dth-infinity-scroll {
  margin-bottom: 25px;
}

.dth-infinity-scroll-endMessage {
  text-align: center;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}
/* -------------USER_MENU_SETTING------------ */

.user-setting__items {
  position: absolute;
  right: -20px;
  top: 45px;

  width: 202px;
  border: 1px solid grey;
  border-radius: 5px;

  background-color: rgba(230, 227, 227, 0.9);
  box-shadow: 2px 2px 5px #817f7f;

  z-index: 100;

  transform-origin: top right;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.user-setting__items li:first-child {
  position: relative;
}

.user-setting__items li:first-child::before {
  content: "";

  position: absolute;
  right: 10px;
  top: -11px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #474646;
}

.user-setting__items li:first-child,
.user-setting__items .dth-userSetting-resposive-mobile {
  border-bottom: 1px solid #b7b4b4;
}

.user-setting__items li,
.user-setting__items .dth-userSetting-resposive-mobile {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 8px 11px 8px 20px;
  cursor: pointer;
}

.user-setting__items li:hover,
.user-setting__items .dth-userSetting-resposive-mobile:hover {
  background-color: #3482e2;
  color: #fff;
}

.user-setting__items li div,
.user-setting__items .dth-userSetting-resposive-mobile div {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 10px;
  margin-right: 20px;
  pointer-events: none;
}

.user-setting__items li p,
.user-setting__items .dth-userSetting-resposive-mobile p {
  word-wrap: keep-all;
  pointer-events: none;
}

.user-setting__items .dth-userSetting-resposive-mobile {
  text-decoration: none;
  transition: none;
  color: #0e0e0e;
}

.dth-userSetting-resposive-mobile {
  display: none !important;
}

/* --------------UPLOAD PAGE--------------- */
.ass1-section__edit-post .ass1-section__image {
  position: relative;

  display: flex;

  min-width: 100%;
  min-height: 170px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-group .dth-input-linkMeme {
  width: 73%;
}

.btn-meme-link-warapper {
  position: relative;
  display: flex;
}

.btn-meme-link-warapper .ass1-btn-meme {
  position: absolute;
  right: 0;

  margin-top: 0px;
}

.dth-form-group_upload {
  margin-top: 20px;
}

.ass1-aside__edit-post > span,
.ass1-aside__edit-post-head {
  padding-left: 12.5%;
}
.ass1-aside__edit-post-head {
  border-bottom: none;
}

/* BtnUpload */
.ass1-section__image__subClass {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.dth-fa-plus {
  font-size: 40px;
  transition: all 0.2s ease-out;
}
.ass1-section__image__subClass p,
.ass1-section__image__subClass i {
  padding-top: 5px;
}

.ass1-section__image__subClass:hover .dth-fa-plus {
  color: #3482e2;
  transform: scale(1.5);
  margin-top: 10px;
}

.dth-upload-img:hover:before {
  opacity: 0;
}

/* Close btn */
.dth-upload-img_close {
  margin: auto;
  width: 100%;
  height: auto;
}
.dth-fa-times__upload {
  position: absolute;
  right: 24px;
  top: 12px;

  font-size: 40px;
  color: #5c5858;

  width: 20px;
  height: 40px;

  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.close-btn-background {
  position: absolute;
  right: 0;
  top: 0;

  width: 80px;
  height: 80px;
  background-color: none;

  border-bottom-left-radius: 100%;
  border-top-right-radius: 6px;

  cursor: pointer;
  transition: all 0.1s ease-in;
}

.dth-upload-img:hover .close-btn-background {
  background-color: rgba(231, 231, 231, 0.5);
}
.close-btn-background:hover {
  width: 100px;
  height: 100px;
}
.close-btn-background:hover .dth-fa-times__upload {
  transform: scale(1.4);
  right: 30px;
  top: 15px;
  color: rgb(180, 21, 21);
}

/*-------------- Category------------- */
.ass1-head-user__btn-follow.ass1-btn.category-btn {
  margin-bottom: 10px;
}

.user-btn-informaion {
  display: inline-block;
  text-align: center;
  line-height: 38px;
  min-width: 150px;
}

footer {
  display: none;
}

/*? ______________________________________________________RESPONSIVE________________________________________________ */

@media only screen and (min-width: 1483px) {
  .dth-header-btn-category-icon {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1483px) {
  /*______________________________________________________________ Header */
  .ass1-header > .container {
    justify-content: space-between;
    height: 40px;
  }

  .ass1-header .ass1-logo,
  .ass1-header__btn-dropdown,
  .ass1-header__menu,
  .ass1-header__search {
    margin-bottom: 0px;
  }

  .dth-header-btn-category-icon {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /*______________________________________________________________ Header */
  .ass1-header .ass1-logo,
  .ass1-header__btn-dropdown,
  .ass1-header__menu,
  .ass1-header__search {
    margin-bottom: 0px;
  }
  .ass1-header .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 25px;
  }

  .ass1-header .container > * {
    margin-left: 0px;
    margin-right: 0px;
  }

  .container .ass1-header__menu {
    margin-right: 0;
  }

  .dth-header-btn-category-text {
    display: none;
  }
  .dth-header-btn-category-icon {
    display: inline-block;
    font-size: 28px;
    padding-top: 2px;
  }

  .ass1-header__search .form-control {
    max-width: 274px;
  }

  .dth-btn-upload-icon {
    margin-right: 0px !important;
  }
  .dth-btn-upload-text {
    display: none;
  }

  .listPost .col-lg-4 {
    display: none;
  }

  /* User-Page */
  .container .my-masonry-grid {
    margin-left: -30px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  /*______________________________________________ Header */
  .ass1-header .ass1-logo,
  .ass1-header__btn-dropdown,
  .ass1-header__menu,
  .ass1-header__search {
    margin-bottom: 0px;
  }
  .ass1-header .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 25px;
  }

  .ass1-header .container > * {
    margin-left: 0px;
    margin-right: 0px;
  }

  .container .ass1-header__menu {
    margin-right: 0;
  }

  .dth-header-btn-category-text {
    display: none;
  }
  .dth-header-btn-category-icon {
    display: inline-block;
    font-size: 28px;
    padding-top: 2px;
  }

  .ass1-header__search {
    max-width: 170px;
  }

  .dth-btn-upload-icon {
    margin-right: 0px !important;
  }
  .dth-btn-upload-text {
    display: none;
  }

  .listPost .col-lg-4 {
    display: none;
  }

  /* User-Page */
  .container .my-masonry-grid {
    margin-left: -30px;
  }

  /* Navigation */
  .ass1-header__menu .container {
    flex-wrap: wrap;
  }

  /* Modal */

  .dth-modal-open .dth-modal-content {
    top: 80px !important;
    /* bottom: 0 !important; */
  }
  .dth-modal-content .dth-modal-header {
    padding-left: 45px !important;
  }
  .dth-modal-content .dth-modal-header i {
    padding-right: 45px;
  }
  .dth-modal-content .dth-modal-body .ass1-section {
    padding: 0px;
    padding-top: 30px;
  }
}

/*_______________________________________ _______________________Smart phone display  */
@media only screen and (max-width: 577px) {
  :root {
    --footer-height: 50px;
  }
  /*__________________________________________________ Header */
  header + main {
    margin-top: 50px;
  }

  .ass1-header {
    padding-top: 7px;
    padding-bottom: 7px;
    height: var(--footer-height);
  }
  /*__________________________________________________ Logo */
  .ass1-logo {
    font-size: 20px;
    line-height: 20px;
  }

  .ass1-header .ass1-logo,
  .ass1-header__btn-dropdown,
  .ass1-header__menu,
  .ass1-header__search {
    margin-bottom: 0px;
  }
  .ass1-header .container {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .ass1-header .container > * {
    margin-left: 0px;
    margin-right: 0px;
    flex-grow: 0;
  }

  .ass1-header .container nav {
    flex-grow: 0;
    width: 0;
  }

  .container .ass1-header__menu {
    margin-right: 0;
  }

  .dth-header-btn-category-text {
    display: none;
  }
  .dth-header-btn-category-icon {
    display: inline-block;
    font-size: 28px;
    padding-top: 2px;
  }

  .ass1-header__search {
    max-width: 170px;
  }

  .dth-btn-upload-icon {
    margin-right: 0px !important;
  }
  .dth-btn-upload-text {
    display: none;
  }

  .listPost .col-lg-4 {
    display: none;
  }

  /* ______________________________________________ Search */
  .ass1-header .container {
    position: relative;
  }

  .ass1-header .container .header-for-responsive {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    border-bottom: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  .ass1-header__search {
    max-width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }
  .ass1-header__search input {
    height: 32px;
  }

  .responsive-mobile {
    position: absolute;
    max-width: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    transition: all 0.2s ease-in-out;
  }

  .header-search-responsive-mobile {
    position: absolute;
    max-width: 100%;
    left: 0;
    transform: translateY(-150%);
    transition: all 0.2s ease-in-out;
  }
  .header-search-responsive-mobile-open {
    transform: translateY(0%);
  }
  /* ______________________________________________ Upload */
  .ass1-header__btn-upload {
    display: none;
  }
  /*_____________________________________________ User login */
  .dth-user-login {
    height: 35px !important;
  }

  .dth-user-login img {
    width: 30px !important;
    height: 30px !important;
  }

  .dth-user-login__text i {
    display: none;
  }
  .dth-user-login:hover .dth-fa-user__icon {
    display: none !important;
  }

  .dth-user-login__text > p {
    padding: 20px 7px 20px 3px !important;
  }

  .dth-btn-login {
    border: none;
    height: 35px;
  }

  .tab-UI {
    width: auto !important;
    margin-left: 15px;
    margin-right: 15px;
  }
  .tab-UI-item {
    font-size: 17px !important;
  }
  .ass1-login__send {
    margin-bottom: 15px !important;
  }
  /*______________________________________ Posts */

  .container .row .col-lg-8 {
    padding: 0;
  }
  .container .col-lg-8 .ass1-section__list {
    margin-top: 10px;
  }

  .container .col-lg-8 .ass1-section {
    margin-bottom: 10px;
  }
  .container .row .col-lg-4 {
    display: none;
  }
  /* 
 */
  /* 
  */
  /*  */
  /* Category relative list */
  .dth-post-detail .col-lg-4 {
    display: block !important;
  }

  .category-btn {
    margin: auto !important;
    width: 70% !important;
    margin-bottom: 10px !important;
  }

  /*______________________________________ User-Page */
  .container .my-masonry-grid {
    margin-left: -30px;
  }

  /* Navigation */
  .ass1-header__menu .container {
    flex-wrap: wrap;
  }

  nav .ass1-header__menu > li > a {
    opacity: 0;
    display: none;
  }

  /*______________________________________________________ Footer */
  footer {
    display: block;
    position: relative;
    z-index: 10000000000000;
  }

  .dth-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: var(--footer-height);
    padding-left: 15px;
    padding-right: 15px;

    background: white;
    border-top: 1px solid #d3d6d8;
    box-shadow: 1px -1px 1px 0px rgb(0 0 0 / 10%);

    transition: all 0.2s ease;
    z-index: 10;
  }

  .dth-footer a i {
    color: #6a6a6a;
    padding: 20px;
    z-index: 99999;
  }

  .dth-footer a i {
    font-size: 25px;
  }
  .dth-footer a:hover i,
  .dth-footer a:active i {
    color: #3482e2;
  }

  .user-option-responsive {
    position: fixed;
    bottom: -100px;
    width: 100%;
    padding-left: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px -1px 2px 1px rgb(0 0 0 / 10%);
    transition: all 0.2s ease-in-out;
    z-index: 9;
  }

  .user-option-responsive-open {
    bottom: var(--footer-height);
    opacity: 1;
  }
  .user-option-responsive ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    touch-action: manipulation;
  }

  .user-option-responsive ul li {
    text-align: center;
    padding: 7px 7px;
  }

  .user-option-responsive ul li:hover {
    color: #3482e2;
  }

  .dth-footer-disable {
    pointer-events: none;
    color: rgb(160, 158, 158);
    display: none;
  }

  /*______________________________________________ post action */

  .dth-userSetting-resposive-mobile {
    display: flex !important;
  }
  .ass1-section__head-user-setting {
    right: 0;
  }
  .user-setting__items {
    right: 0;
    width: auto;
  }
  .user-setting__items .dth-userSetting-resposive-mobile,
  .user-setting__items li {
    padding: 8px 10px 8px 10px;
  }
  .user-setting__items div {
    margin-right: 10px !important;
  }

  .user-setting__items > li:nth-child(1) {
    display: none;
  }

  .user-setting__items .dth-userSetting-resposive-mobile {
    position: relative;
  }

  .user-setting__items .dth-userSetting-resposive-mobile::before {
    content: "";

    position: absolute;
    right: 5px;
    top: -10px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 9px solid #474646;
  }

  /* ________________________________________________ Edit Page */
  .loading-edit-page {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 100%;
    transform: translate(-50%);
    background-color: white;
    z-index: 1000;

    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-edit-page .dotLoading-cmt {
    width: 200px;
  }

  /* ___________________________________________________ MODAL */
  .dth-modal-content {
    min-width: 85% !important;
    min-height: auto !important;
  }
  .dth-modal-content .dth-modal-header {
    height: 45px !important;
    font-size: 18px !important;
  }

  .dth-modal-content .dth-modal-header i {
    font-size: 30px !important;
  }

  /* ChangePassWord */
  .ass1-login {
    padding: 0 15px !important;
  }
  .dth-change-password-btn {
    margin-bottom: 10px;
  }

  /* Logout */
  .dth-modal-footer {
    height: 45px !important;
  }

  .dth-modal-footer .modal-btn {
    font-size: 15px !important;
    padding: 5px 5px !important;
  }
  /*____________________________________________________ Notification */
  .ant-notification {
    padding: 8px 10px !important;
    margin-bottom: 35px !important;
    right: -18px !important;
    bottom: -5px !important;
  }

  .dth-background-notification {
    min-width: 250px !important;
    padding: 10px !important;
  }

  .ant-notification-notice-close {
    top: 14px !important;
    right: 14px !important;
  }

  /*_____________________________________________________ Profile Page */
  .dth-user-page .container,
  .ass1-head-user__content {
    padding: 0px;
  }
  /* content for non-author */
  .ass1-head-user__content {
    display: block;
  }

  .ass1-head-user__image {
    margin: auto;
  }
  /* finish content for non-author */

  .dth-user-page .ass1-head-user {
    margin-top: 65px !important;
  }

  .ass1-head-user__image {
    display: block;
  }

  .ass1-head-user__name {
    text-align: center;
    margin-right: 0px;
  }

  .ass1-head-user__name span {
    margin-right: 0px !important;
  }

  .dth-gender-icon {
    margin-left: 5px !important;
    vertical-align: unset !important;
  }

  .ass1-head-user__desc p {
    text-align: center;
  }

  .ass1-head-user__info-statistic {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .ass1-head-user__info-statistic > div {
    margin-right: 0px !important;
  }

  .ass1-head-user__btn-follow-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .ass1-head-user__btn-follow-wrapper > a {
    margin-right: 0px;
  }

  /* _________________________________________________ UPLOAD */
  .dth-upload .col-lg-12 {
    padding: 0 !important;
  }

  .ass1-aside__edit-post > span,
  .ass1-aside__edit-post-head {
    padding-left: 10%;
  }

  .dth-upload .ass1-section {
    padding: 10px 15px 0px 15px;
    margin-top: 10px !important;
    margin-bottom: 15px;
  }
  .dth-upload .ass1-section__content {
    border: none;
  }

  .dth-upload .col-lg-8 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .warnign-category {
    padding-left: 10%;
  }
}
