button:focus {
  outline: none;
}

.ass1-btn {
  cursor: pointer;
}


.ass1-login__content {
  padding-bottom: 10px;
}

/* .form-control {
  margin-bottom: 10px;
} */

.form-checkbox {
  border: none;
  position: relative;
}

.form-checkbox input,
.form-checkbox label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox input {
  padding: 20px;
  left: 0;
  margin-right: 20px;
}

.form-checkbox label {
  left: 20px;
}

.ass1-login__form form > input,
.ass1-login__form form > *:not(div),
.ass1-login__form form .ass1-input-copy {
  margin-bottom: 20px;
}

.ass1-header__search form {
  position: relative;
}
.ass1-header__search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  margin-top: auto;
}
